{
  "openapi": "3.1.0",
  "info": {
    "title": "Cortex SDK API",
    "description": "REST APIs for Cortex AI retrieval engine",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.hydradb.com",
      "description": "Production",
      "x-fern-server-name": "hydrad-db"
    }
  ],
  "paths": {
    "/metrics": {
      "get": {
        "summary": "Metrics",
        "description": "Endpoint that serves Prometheus metrics.",
        "operationId": "metrics_metrics_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/ingestion/upload_knowledge": {
      "post": {
        "tags": [
          "ingestion-pipeline"
        ],
        "summary": "Upload Knowledge",
        "description": "Unified endpoint to upload knowledge: documents (files) and/or app-generated sources.\n\n- **Documents**: send one or more files in `files` and optionally `file_metadata`.\n- **App sources**: send structured source(s) as JSON in `app_knowledge` (single object or array).\n\nProvide at least one of `files` or `app_knowledge`. You can send both in the same request.",
        "operationId": "upload_knowledge_ingestion_upload_knowledge_post",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_upload_knowledge_ingestion_upload_knowledge_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "upload",
        "x-fern-sdk-method-name": "knowledge",
        "x-fern-audiences": [
          "public"
        ]
      }
    },
    "/ingestion/verify_processing": {
      "post": {
        "tags": [
          "ingestion-pipeline"
        ],
        "summary": "Verify Processing",
        "description": "Check the processing status of uploaded content.\n\nAccepts a single ``file_id`` **or** a list of ``file_ids`` (or both).\nReturns a ``BatchProcessingStatus`` with one entry per requested ID.",
        "operationId": "verify_processing_ingestion_verify_processing_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "file_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Single file ID (deprecated - use file_ids instead).",
              "title": "File Id"
            },
            "description": "Single file ID (deprecated - use file_ids instead)."
          },
          {
            "name": "file_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "One or more file IDs to check processing status for.",
              "default": [],
              "title": "File Ids"
            },
            "description": "One or more file IDs to check processing status for."
          },
          {
            "name": "tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the tenant/organization",
              "default": "",
              "title": "Tenant Id"
            },
            "description": "Unique identifier for the tenant/organization"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional sub-tenant identifier used to organize data within a tenant. If omitted, the default sub-tenant created during tenant setup will be used.",
              "title": "Sub Tenant Id"
            },
            "description": "Optional sub-tenant identifier used to organize data within a tenant. If omitted, the default sub-tenant created during tenant setup will be used."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchProcessingStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "upload",
        "x-fern-sdk-method-name": "verify_processing",
        "x-fern-audiences": [
          "public"
        ]
      }
    },
    "/ingestion/v1/memories/ingest": {
      "post": {
        "tags": [
          "ingestion-pipeline"
        ],
        "summary": "Ingest Memory",
        "description": "Ingest text content as memory. S3 -> Kafka -> 202.",
        "operationId": "ingest_memory_ingestion_v1_memories_ingest_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemoryIngestRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngestResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/ingestion/inspector/runs/{doc_id}": {
      "get": {
        "tags": [
          "ingestion-inspector"
        ],
        "summary": "Get Pipeline Run",
        "operationId": "get_pipeline_run_ingestion_inspector_runs__doc_id__get",
        "parameters": [
          {
            "name": "doc_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Doc Id"
            }
          },
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Tenant id",
              "title": "Tenant Id"
            },
            "description": "Tenant id"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Sub-tenant id (defaults to tenant_id)",
              "default": "",
              "title": "Sub Tenant Id"
            },
            "description": "Sub-tenant id (defaults to tenant_id)"
          },
          {
            "name": "workflow_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter to a single workflow run",
              "title": "Workflow Id"
            },
            "description": "Filter to a single workflow run"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PipelineRunMetadata"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/tenants/create": {
      "post": {
        "tags": [
          "tenants"
        ],
        "summary": "Create Tenant",
        "description": "Create a tenant for your account (API key auth).\n\nAccepts the request and starts tenant creation in the background, then returns\n200 OK immediately. Use GET /tenants/infra/status?tenant_id=... to check\ndeployment progress.\n\n**Tenant Metadata Schema**\n\nYou can optionally provide a `tenant_metadata_schema` to define custom fields that will be\nindexed in the vector store. Each field can be configured with:\n\n- `enable_match`: Enable text filtering on this field\n- `enable_dense_embedding`: Create dense embeddings for semantic similarity search\n- `enable_sparse_embedding`: Create sparse embeddings (BM25) for keyword search\n\n**Example Request:**\n```json\n{\n    \"tenant_id\": \"my-tenant\",\n    \"tenant_metadata_schema\": [\n        {\n            \"name\": \"category\",\n            \"data_type\": \"VARCHAR\",\n            \"max_length\": 256,\n            \"enable_match\": true\n        },\n        {\n            \"name\": \"product_description\",\n            \"data_type\": \"VARCHAR\",\n            \"max_length\": 4096,\n            \"enable_dense_embedding\": true,\n            \"enable_sparse_embedding\": true\n        }\n    ]\n}\n```\n\nExpected outcome:\n- Request is accepted and tenant creation runs in the background.\n- Response returns 200 with status \"accepted\" and tenant_id.\n- Poll GET /tenants/infra/status?tenant_id=... to verify when provisioning is complete.",
        "operationId": "create_tenant_tenants_create_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TenantCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantCreateAcceptedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "tenant",
        "x-fern-sdk-method-name": "create",
        "x-fern-audiences": [
          "public"
        ]
      }
    },
    "/tenants/sub_tenant_ids": {
      "get": {
        "tags": [
          "tenants"
        ],
        "summary": "Get Sub Tenant Ids",
        "description": "List unique sub-tenant IDs that have indexed data in Milvus for the given tenant.\n\nUses API key auth. Returns sub_tenant_id values that appear in the tenant's\ncontext and memory collections (any sub-tenant with at least one chunk).",
        "operationId": "get_sub_tenant_ids_tenants_sub_tenant_ids_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the tenant/organization",
              "title": "Tenant Id"
            },
            "description": "Unique identifier for the tenant/organization"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubTenantIdsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "tenant",
        "x-fern-sdk-method-name": "get_sub_tenant_ids",
        "x-fern-audiences": [
          "public"
        ]
      }
    },
    "/tenants/tenant_ids": {
      "get": {
        "tags": [
          "tenants"
        ],
        "summary": "List Tenant Ids",
        "description": "List all tenant IDs registered for the authenticated organization (API key auth).\n\nQueries the DynamoDB tenant mapping table for the org and returns the tenant IDs.",
        "operationId": "list_tenant_ids_tenants_tenant_ids_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantIdsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "tenant",
        "x-fern-sdk-method-name": "get_tenant_ids",
        "x-fern-audiences": [
          "public"
        ]
      }
    },
    "/tenants/infra/status": {
      "get": {
        "tags": [
          "tenants",
          "Monitor & infra status"
        ],
        "summary": "Get Infra Status",
        "description": "Check the status of deployed infrastructure for a tenant.\n\nReturns scheduler, graph (FalkorDB), and vectorstore (Milvus) deployment\nstatus for the given tenant: whether the graph DB is healthy and whether\nthe context and memory collections exist.\n\nUse this endpoint to verify that tenant provisioning or ArgoCD sync has\ncompleted successfully.",
        "operationId": "get_infra_status_tenants_infra_status_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the tenant/organization",
              "title": "Tenant Id"
            },
            "description": "Unique identifier for the tenant/organization"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InfraStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "tenant",
        "x-fern-sdk-method-name": "get_infra_status",
        "x-fern-audiences": [
          "public"
        ]
      }
    },
    "/tenants/delete": {
      "delete": {
        "tags": [
          "tenants"
        ],
        "summary": "Delete Tenant",
        "description": "Delete a tenant and all its associated infrastructure and data.\n\nThis permanently removes:\n- GitHub ArgoCD infra file (FalkorDB helm values)\n- Milvus vector store collections (context + memory)\n- MongoDB source documents\n- MongoDB chunk_data documents\n- MongoDB tenant metadata schema\n- DynamoDB primary tenant ID mapping\n\nThis action is irreversible.",
        "operationId": "delete_tenant_tenants_delete_delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the tenant/organization",
              "title": "Tenant Id"
            },
            "description": "Unique identifier for the tenant/organization"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantDeleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "tenant",
        "x-fern-sdk-method-name": "delete_tenant",
        "x-fern-audiences": [
          "public"
        ]
      }
    },
    "/tenants/monitor": {
      "get": {
        "tags": [
          "tenants",
          "tenants",
          "Monitor & infra status"
        ],
        "summary": "Get Tenant Stats",
        "description": "Retrieve usage stats for your tenant.\n\nUse this endpoint to check whether a tenant exists and view core metrics like total\nindexed objects and vector dimension. This helps you validate\nsetup and monitor ingestion.\n\nExpected outcome\n\nYou receive the current object count and vector dimension for the tenant.\nIf the tenant does not exist, you get a not-found error.",
        "operationId": "get_tenant_stats_tenants_monitor_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the tenant/organization",
              "title": "Tenant Id"
            },
            "description": "Unique identifier for the tenant/organization"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantStatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "tenant",
        "x-fern-sdk-method-name": "monitor",
        "x-fern-audiences": [
          "public"
        ]
      }
    },
    "/api-keys/create_api_key": {
      "post": {
        "tags": [
          "api-keys"
        ],
        "summary": "Create Api Key",
        "description": "Create an API key (dashboard / NextAuth). Store hashed secret in DynamoDB, return full key once.\n\nRequires NextAuth. The user's email is always taken from the JWT token.\nAn optional label can be provided for human-readable identification.\nPlan is taken from the user's tier for routing.",
        "operationId": "create_api_key_api_keys_create_api_key_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKeyCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "key",
        "x-fern-sdk-method-name": "create_api_key",
        "x-fern-audiences": [
          "public"
        ]
      }
    },
    "/embeddings/insert_raw_embeddings": {
      "post": {
        "tags": [
          "embeddings"
        ],
        "summary": "Insert Raw Embeddings Endpoint",
        "description": "Upload pre-computed embeddings for advanced similarity search.\n\nThis endpoint accepts vector embeddings that you've generated externally,\n allowing you to integrate with custom embedding models or existing vector databases.\n  The embeddings represent chunks of your content as numerical vectors.\n\nThe system stores these embeddings and makes them available for semantic search and similarity matching.\n Use this when you want to leverage specialized embedding models or have existing vector representations.\nWhen upsert=True, existing embeddings with the same chunk_id will be updated.",
        "operationId": "insert_raw_embeddings_endpoint_embeddings_insert_raw_embeddings_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_insert_raw_embeddings_endpoint_embeddings_insert_raw_embeddings_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsertResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "embeddings",
        "x-fern-sdk-method-name": "insert",
        "x-fern-audiences": [
          "public"
        ]
      }
    },
    "/embeddings/search_raw_embeddings": {
      "post": {
        "tags": [
          "embeddings"
        ],
        "summary": "Search Raw Embeddings Endpoint",
        "description": "Find similar chunks using an embedding vector.\n\nUse this to retrieve the most similar chunk IDs to a single query embedding.\n\nExpected outcome:\n- You receive the closest chunk IDs with optional similarity scores.",
        "operationId": "search_raw_embeddings_endpoint_embeddings_search_raw_embeddings_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_search_raw_embeddings_endpoint_embeddings_search_raw_embeddings_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RawEmbeddingSearchResult"
                  },
                  "type": "array",
                  "title": "Response Search Raw Embeddings Endpoint Embeddings Search Raw Embeddings Post"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "embeddings",
        "x-fern-sdk-method-name": "search",
        "x-fern-audiences": [
          "public"
        ]
      }
    },
    "/embeddings/filter_raw_embeddings": {
      "post": {
        "tags": [
          "embeddings"
        ],
        "summary": "Filter Raw Embeddings Endpoint",
        "description": "Retrieve embeddings for specific chunk IDs.\nUse this when you already know the chunk IDs and need their corresponding embeddings.",
        "operationId": "filter_raw_embeddings_endpoint_embeddings_filter_raw_embeddings_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_filter_raw_embeddings_endpoint_embeddings_filter_raw_embeddings_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/RawEmbeddingSearchResult"
                  },
                  "type": "array",
                  "title": "Response Filter Raw Embeddings Endpoint Embeddings Filter Raw Embeddings Post"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "embeddings",
        "x-fern-sdk-method-name": "filter",
        "x-fern-audiences": [
          "public"
        ]
      }
    },
    "/embeddings/delete_raw_embeddings": {
      "delete": {
        "tags": [
          "embeddings"
        ],
        "summary": "Delete Raw Embeddings Endpoint",
        "description": "Delete embedding chunks by chunk ID.\n\nUse this to remove specific chunks from your embeddings index when they are no longer\nvalid or should not appear in results.",
        "operationId": "delete_raw_embeddings_endpoint_embeddings_delete_raw_embeddings_delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the tenant/organization",
              "title": "Tenant Id"
            },
            "description": "Unique identifier for the tenant/organization"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional sub-tenant ID for scoping deletion",
              "title": "Sub Tenant Id"
            },
            "description": "Optional sub-tenant ID for scoping deletion"
          },
          {
            "name": "source_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional source ID to delete by (mutually exclusive with chunk_ids)",
              "title": "Source Id"
            },
            "description": "Optional source ID to delete by (mutually exclusive with chunk_ids)"
          },
          {
            "name": "chunk_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional list of chunk IDs to delete (mutually exclusive with source_id)",
              "title": "Chunk Ids"
            },
            "description": "Optional list of chunk IDs to delete (mutually exclusive with source_id)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "embeddings",
        "x-fern-sdk-method-name": "delete",
        "x-fern-audiences": [
          "public"
        ]
      }
    },
    "/list/data": {
      "post": {
        "tags": [
          "list"
        ],
        "summary": "List Content",
        "description": "Unified API to list either knowledge sources or user memories.\n\nSupports **pagination** via `page` / `page_size` and optional **filters**\non `tenant_metadata` and `document_metadata`.\n\n- If `source_ids` is provided (non-empty), only those items are returned.\n- Otherwise, all items for the tenant/sub-tenant scope are returned.\n- Use `type` to switch between listing sources (`knowledge`) vs\n  user memories (`memory`).",
        "operationId": "list_content_list_data_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListContentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/SourceListResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ListUserMemoriesResponse"
                    }
                  ],
                  "title": "Response List Content List Data Post"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "fetch",
        "x-fern-sdk-method-name": "list_data",
        "x-fern-audiences": [
          "public"
        ]
      }
    },
    "/list/graph_relations_by_id": {
      "get": {
        "tags": [
          "list"
        ],
        "summary": "Graph Relations By Id",
        "description": "Retrieve relations for a specific source.\n\nUse this endpoint to fetch all relations associated with a specific source.\nThis is useful when you need to understand the relationships between entities within a source.\n\nProvide the source ID in the request body along with your tenant information to get the relations\nfor that source.",
        "operationId": "graph_relations_by_id_list_graph_relations_by_id_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "source_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Source ID. If omitted, returns relations across the entire sub-tenant.",
              "title": "Source Id"
            },
            "description": "Source ID. If omitted, returns relations across the entire sub-tenant."
          },
          {
            "name": "tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Unique identifier for the tenant/organization",
              "default": "",
              "title": "Tenant Id"
            },
            "description": "Unique identifier for the tenant/organization"
          },
          {
            "name": "is_memory",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to fetch relations for memories",
              "default": false,
              "title": "Is Memory"
            },
            "description": "Whether to fetch relations for memories"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional sub-tenant identifier used to organize data within a tenant. If omitted, the default sub-tenant created during tenant setup will be used.",
              "title": "Sub Tenant Id"
            },
            "description": "Optional sub-tenant identifier used to organize data within a tenant. If omitted, the default sub-tenant created during tenant setup will be used."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "minimum": 1,
              "description": "Maximum number of relation groups to return",
              "default": 5000,
              "title": "Limit"
            },
            "description": "Maximum number of relation groups to return"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Pagination cursor. Pass next_cursor from a previous response.",
              "title": "Cursor"
            },
            "description": "Pagination cursor. Pass next_cursor from a previous response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceGraphRelationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "x-fern-sdk-group-name": "fetch",
        "x-fern-sdk-method-name": "graph_relations_by_source_id",
        "x-fern-audiences": [
          "public"
        ]
      }
    },
    "/knowledge/delete_knowledge": {
      "post": {
        "tags": [
          "delete"
        ],
        "summary": "Delete Source",
        "description": "Remove documents and content from your knowledge base.\n\nThis endpoint permanently deletes the specified sources from your knowledge base.\n Once deleted, the content will no longer be available for search or retrieval.\n\nUse this carefully as the action cannot be undone. The system will confirm\nsuccessful deletion of each source ID you specify.",
        "operationId": "delete_source_knowledge_delete_knowledge_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourceDeleteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceDeleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "data",
        "x-fern-sdk-method-name": "delete",
        "x-fern-audiences": [
          "public"
        ]
      }
    },
    "/fetch/content": {
      "post": {
        "tags": [
          "fetch"
        ],
        "summary": "Fetch Source",
        "description": "Fetch the content of a source ingested.\n\nThis endpoint can return:\n- File content directly (as string or base64)\n- A presigned URL to access the file\n- Both content and presigned URL",
        "operationId": "fetch_source_fetch_content_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SourceFetchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceFetchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cortex__models__response__commons__ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "fetch",
        "x-fern-sdk-method-name": "content",
        "x-fern-audiences": [
          "public"
        ]
      }
    },
    "/recall/full_recall": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Full recall for knowledge base",
        "description": "Search for relevant content within your indexed sources (documents).\n\n    Results are ranked by relevance and can be customized with parameters like\n    result limits, alpha weighting, and recency preferences.\n\n    Use `mode` to control retrieval quality:\n    - \"fast\" (default): Single query, faster response\n    - \"thinking\": Multi-query generation with reranking, higher quality\n\n    Use `filters` to narrow results by metadata:\n    - Provide key-value pairs matching fields defined in your tenant_metadata_schema\n    - Example: `{\"category\": \"engineering\", \"priority\": \"high\"}`\n    - Filters are validated against your tenant schema for type safety",
        "operationId": "full_recall_recall_full_recall_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecallSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrievalResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "recall",
        "x-fern-sdk-method-name": "full_recall",
        "x-fern-audiences": [
          "public"
        ]
      }
    },
    "/recall/recall_preferences": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Recall preferences (memories)",
        "description": "Search for relevant content within user memories (inferred content).\n\n    Results are ranked by relevance and can be customized with parameters like\n    result limits, alpha weighting, and recency preferences.\n\n    Use `mode` to control retrieval quality:\n    - \"fast\" (default): Single query, faster response\n    - \"thinking\": Multi-query generation with reranking, higher quality\n\n    Use `filters` to narrow results by metadata:\n    - Provide key-value pairs matching fields defined in your tenant_metadata_schema\n    - Example: `{\"category\": \"engineering\", \"priority\": \"high\"}`\n    - Filters are validated against your tenant schema for type safety",
        "operationId": "recall_preferences_recall_recall_preferences_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecallSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrievalResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "recall",
        "x-fern-sdk-method-name": "recall_preferences",
        "x-fern-audiences": [
          "public"
        ]
      }
    },
    "/recall/boolean_recall": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Full-text search",
        "description": "Perform full text search for exact matches within your indexed sources or memories.\n    Choose between 'OR', 'AND', or 'PHRASE' operators to control how search terms\n    are combined for precise text matching.\n\n    Operators:\n    - \"or\"  (default): Match chunks containing **any** of the search terms\n    - \"and\": Match chunks containing **all** of the search terms\n    - \"phrase\": Match chunks containing the **exact phrase** in order\n\n    Use `search_mode` to specify what to search:\n    - \"knowledge\" (default): Search over indexed documents\n    - \"memory\": Search over user memories",
        "operationId": "full_text_search_recall_boolean_recall_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FullTextSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrievalResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "recall",
        "x-fern-sdk-method-name": "boolean_recall",
        "x-fern-audiences": [
          "public"
        ]
      }
    },
    "/recall/qna": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Question & Answer with retrieval",
        "description": "Ask a question and get an AI-generated answer based on your indexed sources or memories.\n\n    The response includes both the AI answer and the source chunks used to generate it,\n    enabling full transparency and citation capabilities.\n\n    Use `search_mode` to specify what to search:\n    - \"knowledge\" (default): Search over indexed documents\n    - \"memory\": Search over user memories\n\n    Use `mode` to control retrieval quality:\n    - \"fast\" (default): Single query, faster response\n    - \"thinking\": Multi-query generation with reranking, higher quality",
        "operationId": "qna_search_recall_qna_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QnASearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QnASearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "recall",
        "x-fern-sdk-method-name": "qna",
        "x-fern-audiences": [
          "public"
        ]
      }
    },
    "/memories/add_memory": {
      "post": {
        "tags": [
          "Memories"
        ],
        "summary": "Add memory",
        "description": "Add memories for indexing and retrieval.\n\n    This API provides a unified entry point for ingesting various types of content:\n\n    **Content Types Supported:**\n    - Raw text content (`text` field)\n    - Markdown formatted content (`text` + `is_markdown=true`)\n    - User/assistant conversation pairs (`user_assistant_pairs` field)\n\n    **Key Features:**\n    - **Inference Mode (`infer=true`)**: When enabled, the system extracts additional\n      insights and implicit information from your content. Useful for conversation\n      analysis and knowledge extraction.\n    - **Direct Mode (`infer=false`)**: Content is chunked and indexed as-is without\n      additional processing.\n\n    Use `/ingestion/verify-processing` endpoint to check the processing status.",
        "operationId": "add_memory_memories_add_memory_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_add_memory_memories_add_memory_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddMemoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "x-fern-sdk-group-name": "upload",
        "x-fern-sdk-method-name": "add_memory",
        "x-fern-audiences": [
          "public"
        ]
      }
    },
    "/memories/delete_memory": {
      "delete": {
        "tags": [
          "Memories"
        ],
        "summary": "Delete memory",
        "description": "Permanently remove a specific memory from storage.\n\n    This API allows you to delete a memory by its unique identifier.\n    Once deleted, the memory cannot be recovered, so use this operation carefully.\n\n    The memory will be removed from your tenant's storage and will no longer\n    appear in search results or memory listings.",
        "operationId": "delete_memory_memories_delete_memory_delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "tenant_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Tenant ID",
              "title": "Tenant Id"
            },
            "description": "Tenant ID"
          },
          {
            "name": "memory_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Unique identifier of the memory to delete",
              "title": "Memory Id"
            },
            "description": "Unique identifier of the memory to delete"
          },
          {
            "name": "sub_tenant_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sub-tenant ID",
              "title": "Sub Tenant Id"
            },
            "description": "Sub-tenant ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteUserMemoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActualErrorResponse"
                }
              }
            }
[...]
